<form
  (ngSubmit)="enviarFormulario()"
>
  <div class="formulario">

    <div class="campo">
      <label for="nome">
        Nome do evento
        <span>*</span>
      </label>

      <input
        id="nome"
        type="text"
        name="nome"
        [(ngModel)]="nome"
        placeholder="Digite o nome do evento"
      >
    </div>


    <div class="campo">

      <label>
        Categoria
        <span>*</span>
      </label>

      <div class="categorias">

        @for (
          item of categorias;
          track item.valor
        ) {

          <button
            type="button"
            class="categoria"
            [class.ativa]="
              categoria === item.valor
            "
            (click)="
              selecionarCategoria(
                item.valor
              )
            "
          >
            {{ item.nome }}
          </button>

        }

      </div>

    </div>


    <div class="campo">

      <label>
        Classificação etária
        <span>*</span>
      </label>

      <div class="classificacoes">

        @for (
          item of classificacoes;
          track item
        ) {

          <button
            type="button"
            class="classificacao"
            [class.ativa]="
              classificacao === item
            "
            (click)="
              selecionarClassificacao(
                item
              )
            "
          >
            {{ item }}
          </button>

        }

      </div>

    </div>


    <div class="campo">

      <label for="descricao">
        Descrição
        <span>*</span>
      </label>

      <textarea
        id="descricao"
        name="descricao"
        [(ngModel)]="descricao"
        placeholder="Conte um pouco sobre o evento..."
      ></textarea>

    </div>


    <div class="campo">

      <label>
        Imagem de capa
      </label>

      <div class="upload">

        @if (imagemPreview) {

          <img
            class="preview"
            [src]="imagemPreview"
            alt="Prévia da imagem do evento"
          >

          @if (nomeImagem) {
            <span class="nome-imagem">
              {{ nomeImagem }}
            </span>
          }

          <div class="acoes-imagem">

            <label
              class="botao-upload"
            >
              Alterar imagem

              <input
                type="file"
                accept="image/jpeg,image/png,image/webp"
                hidden
                (change)="
                  selecionarImagem($event)
                "
              >
            </label>

            <button
              type="button"
              class="botao-remover-imagem"
              (click)="removerImagem()"
            >
              Remover
            </button>

          </div>

        } @else {

          <div class="upload-conteudo">

            <strong>
              Adicione uma imagem de capa
            </strong>

            <span>
              JPG, PNG ou WebP
            </span>

            <small>
              Máximo de 5 MB
            </small>

            <label
              class="botao-upload"
            >
              Escolher imagem

              <input
                type="file"
                accept="image/jpeg,image/png,image/webp"
                hidden
                (change)="
                  selecionarImagem($event)
                "
              >
            </label>

          </div>

        }

      </div>

    </div>


    @if (erro) {

      <p class="erro">
        {{ erro }}
      </p>

    }


    <div class="acoes">

      <button
        type="submit"
        class="botao-continuar"
      >
        Continuar →
      </button>

    </div>

  </div>
</form>