<header class="cabecalho-organizador">

  <a
    class="logo-link"
    href="/"
    aria-label="Ir para a página inicial"
  >
    <img
      src="nomeEvena.svg"
      class="logo"
      alt="Evena"
    >
  </a>

  <div class="acoes">

    <button
      class="notificacao"
      type="button"
      aria-label="Notificações"
    >
      <i
        class="fa-regular fa-bell"
        aria-hidden="true"
      ></i>
    </button>


    <button
      class="perfil"
      type="button"
      aria-label="Perfil"
    >
      <span class="avatar">
        {{ inicialPerfil }}
      </span>
    </button>

  </div>

</header>