<div class="etapa-data-local">

  <section class="secao">

    <div class="cabecalho-secao">

      <h2>
        Data e horário
      </h2>

      <p>
        Informe quando o evento acontecerá.
      </p>

    </div>


    <div class="lista-datas">

      @for (
        item of datas;
        track $index
      ) {

        <div class="linha-data">

          <div class="campo">

            <label>
              Data
            </label>

            <input
              type="date"
              [(ngModel)]="item.data"
              [min]="dataMinima"
            >

          </div>


          <div class="campo">

            <label>
              Início
            </label>

            <input
              type="time"
              [(ngModel)]="item.inicio"
            >

          </div>


          <div class="campo">

            <label>
              Término
            </label>

            <input
              type="time"
              [(ngModel)]="item.fim"
            >

          </div>


          <label class="dia-seguinte">

            <input
              type="checkbox"
              [(ngModel)]="
                item.terminaNoDiaSeguinte
              "
            >

            Termina no dia seguinte

          </label>


          @if (
            datas.length > 1
          ) {

            <button
              type="button"
              class="botao-remover-data"
              (click)="
                removerData($index)
              "
            >
              Remover
            </button>

          }

        </div>

      }

    </div>


    <div class="acoes-datas">

      <button
        type="button"
        class="botao-adicionar-data"
        (click)="adicionarData()"
      >
        + Adicionar outra data
      </button>

    </div>

  </section>


  <section class="secao">

    <div class="cabecalho-secao">

      <h2>
        Formato do evento
      </h2>

      <p>
        Escolha como o evento será realizado.
      </p>

    </div>


    <div class="tipos-local">

      <button
        type="button"
        class="tipo-local"
        [class.ativo]="
          tipoLocal === 'presencial'
        "
        (click)="
          selecionarTipoLocal(
            'presencial'
          )
        "
      >
        Presencial
      </button>


      <button
        type="button"
        class="tipo-local"
        [class.ativo]="
          tipoLocal === 'online'
        "
        (click)="
          selecionarTipoLocal(
            'online'
          )
        "
      >
        Online
      </button>

    </div>

  </section>


  @if (
    tipoLocal ===
    'presencial'
  ) {

    <section class="secao">

      <div class="cabecalho-secao">

        <h2>
          Endereço
        </h2>

        <p>
          Informe onde o evento acontecerá.
        </p>

      </div>


      <div class="linha-endereco">

        <div class="campo">

          <label for="estado">
            Estado
          </label>

          <input
            id="estado"
            type="text"
            [(ngModel)]="estado"
            maxlength="2"
            placeholder="SP"
          >

        </div>


        <div class="campo">

          <label for="cidade">
            Cidade
          </label>

          <input
            id="cidade"
            type="text"
            [(ngModel)]="cidade"
            placeholder="São Paulo"
          >

        </div>

      </div>


      <div class="linha-endereco">

        <div class="campo">

          <label for="endereco">
            Endereço
          </label>

          <input
            id="endereco"
            type="text"
            [(ngModel)]="endereco"
            placeholder="Rua, avenida..."
          >

        </div>


        <div class="campo">

          <label for="numero">
            Número
          </label>

          <input
            id="numero"
            type="text"
            [(ngModel)]="numero"
            placeholder="100"
          >

        </div>

      </div>


      <div class="campo">

        <label for="complemento">
          Complemento
        </label>

        <input
          id="complemento"
          type="text"
          [(ngModel)]="complemento"
          placeholder="Bloco, sala, ponto de referência..."
        >

      </div>

    </section>

  }


  @if (
    tipoLocal ===
    'online'
  ) {

    <section class="secao">

      <div class="cabecalho-secao">

        <h2>
          Evento online
        </h2>

        <p>
          Informe o link de acesso ao evento.
        </p>

      </div>


      <div class="campo">

        <label for="link">
          Link do evento
        </label>

        <input
          id="link"
          type="url"
          [(ngModel)]="link"
          placeholder="https://..."
        >

      </div>

    </section>

  }


  @if (erro) {

    <p class="erro">
      {{ erro }}
    </p>

  }


  <div class="acoes">

    <button
      type="button"
      class="botao-voltar"
      (click)="voltarEtapa()"
    >
      ← Voltar
    </button>


    <button
      type="button"
      class="botao-continuar"
      (click)="continuarEtapa()"
    >
      Continuar →
    </button>

  </div>

</div>