#sessao-todos-eventos {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Reduzido levemente para aproximar do header global */
  margin-bottom: 50px;
}

.container-todos-eventos {
  width: 95%; 
  max-width: 1650px;
  padding: 0 20px;
  box-sizing: border-box;  
}