<div class="etapa-revisao">

  <div class="cabecalho">

    <h2>
      Revise seu evento
    </h2>

    <p>
      Confira todas as informações antes de publicar seu evento.
    </p>

  </div>


  <section class="secao">

    <div class="titulo-secao">

      <h3>
        Informações básicas
      </h3>

      <button
        type="button"
        (click)="editarEtapa(1)"
      >
        Editar
      </button>

    </div>


    @if (dadosEvento.imagemPreview) {

      <div class="capa-revisao">

        <img
          [src]="dadosEvento.imagemPreview"
          alt="Imagem de capa do evento"
        >

        @if (dadosEvento.nomeImagem) {
          <span>
            {{ dadosEvento.nomeImagem }}
          </span>
        }

      </div>

    }


    <div class="informacoes">

      <div class="informacao">
        <span>Nome</span>

        <strong>
          {{
            dadosEvento.nome ||
            'Não informado'
          }}
        </strong>
      </div>


      <div class="informacao">
        <span>Categoria</span>

        <strong>
          {{
            dadosEvento.categoria ||
            'Não informado'
          }}
        </strong>
      </div>


      <div class="informacao">
        <span>Classificação</span>

        <strong>
          {{
            dadosEvento.classificacao ||
            'Não informado'
          }}
        </strong>
      </div>


      <div
        class="informacao informacao-longa"
      >
        <span>Descrição</span>

        <strong>
          {{
            dadosEvento.descricao ||
            'Não informado'
          }}
        </strong>
      </div>

    </div>

  </section>


  <section class="secao">

    <div class="titulo-secao">

      <h3>
        Data e local
      </h3>

      <button
        type="button"
        (click)="editarEtapa(2)"
      >
        Editar
      </button>

    </div>


    <div class="datas-revisao">

      @for (
        item of dadosEvento.datas;
        track $index
      ) {

        <div class="data-revisao">

          <div class="informacao">

            <span>
              Data {{ $index + 1 }}
            </span>

            <strong>
              {{
                formatarData(
                  item.data
                )
              }}
            </strong>

          </div>


          <div class="informacao">

            <span>
              Horário
            </span>

            <strong>
              {{
                formatarHorario(
                  item
                )
              }}
            </strong>

          </div>

        </div>

      }

    </div>


    <div class="informacoes">

      <div class="informacao">

        <span>Tipo</span>

        <strong>
          {{
            formatarTipoLocal(
              dadosEvento.tipoLocal
            )
          }}
        </strong>

      </div>


      @if (
        dadosEvento.tipoLocal ===
        'presencial'
      ) {

        <div
          class="informacao informacao-longa"
        >

          <span>Local</span>

          <strong>
            {{ formatarEndereco() }}
          </strong>

        </div>

      }


      @if (
        dadosEvento.tipoLocal ===
        'online'
      ) {

        <div
          class="informacao informacao-longa"
        >

          <span>
            Link do evento
          </span>

          <strong>
            {{
              dadosEvento.link ||
              'Não informado'
            }}
          </strong>

        </div>

      }

    </div>

  </section>


  <section class="secao">

    <div class="titulo-secao">

      <h3>
        Detalhes
      </h3>

      <button
        type="button"
        (click)="editarEtapa(3)"
      >
        Editar
      </button>

    </div>


    <div class="informacoes">

      <div class="informacao">

        <span>Ingressos</span>

        <strong>
          {{
            formatarTipoIngresso(
              dadosEvento.tipoIngresso
            )
          }}
        </strong>

      </div>


      @if (
        dadosEvento.tipoIngresso ===
        'pago'
      ) {

        <div class="informacao">

          <span>Preço</span>

          <strong>
            {{ formatarPreco() }}
          </strong>

        </div>


        <div
          class="informacao informacao-longa"
        >

          <span>
            Link de venda
          </span>

          <strong>
            {{
              dadosEvento.linkIngresso ||
              'Não informado'
            }}
          </strong>

        </div>

      }


      <div
        class="informacao informacao-longa"
      >

        <span>Atrações</span>

        @if (
          dadosEvento.atracoes.length
        ) {

          <div class="lista-atracoes">

            @for (
              atracao of dadosEvento.atracoes;
              track $index
            ) {

              <div class="atracao-revisao">
                <strong>
                  {{ atracao.nome }}
                </strong>
              </div>

            }

          </div>

        } @else {

          <strong>
            Não informado
          </strong>

        }

      </div>


      <div
        class="informacao informacao-longa"
      >

        <span>
          Recursos
        </span>

        @if (
          dadosEvento.recursos.length
        ) {

          <strong>
            {{
              dadosEvento.recursos.join(', ')
            }}
          </strong>

        } @else {

          <strong>
            Nenhum selecionado
          </strong>

        }

      </div>


      @if (
        dadosEvento.informacoes
      ) {

        <div
          class="informacao informacao-longa"
        >

          <span>
            Outras informações
          </span>

          <strong>
            {{
              dadosEvento.informacoes
            }}
          </strong>

        </div>

      }


      @if (
        dadosEvento.pergunta ||
        dadosEvento.resposta
      ) {

        <div
          class="informacao informacao-longa"
        >

          <span>
            Pergunta frequente
          </span>

          <strong>
            {{
              dadosEvento.pergunta ||
              'Não informado'
            }}
          </strong>

          @if (
            dadosEvento.resposta
          ) {
            <small>
              {{ dadosEvento.resposta }}
            </small>
          }

        </div>

      }

    </div>

  </section>


  <div class="acoes">

    <button
      type="button"
      class="botao-voltar"
      [disabled]="publicando"
      (click)="voltarEtapa()"
    >
      ← Voltar
    </button>


    <button
      type="button"
      class="botao-publicar"
      [disabled]="publicando"
      (click)="publicarEvento()"
    >

      @if (publicando) {
        Publicando...
      } @else {
        Publicar evento
      }

    </button>

  </div>

</div>